.container {
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.profile {
  border-radius: 80px;
  cursor: pointer;
}

.logout {
  margin-left: 20px;
  cursor: pointer;
}
